/*vertical spaces*/
$vertical-space-class-name :'voffset';
$vertical-std-cnst:'2px';


@for $i from 1 through 10 {
  .#{$vertical-space-class-name}-#{$i} {
    margin-top: $i * $vertical-std-cnst;
  }
}

/*
.voffset  { margin-top: 2px; }
.voffset-1 { margin-top: 5px; }
.voffset-2 { margin-top: 10px; }
.voffset-3 { margin-top: 15px; }
.voffset-4 { margin-top: 30px; }
.voffset-5 { margin-top: 40px; }
.voffset-6 { margin-top: 60px; }
.voffset-7 { margin-top: 80px; }
.voffset-8 { margin-top: 100px; }
.voffset-9{margin-top: 150px;}
.voffset-10 { margin-top: 250px; }

*/
