/*styling for angular default classes */
form .form-control.ng-invalid {
  border-color: #ff0000; }

form .form-control.ng-valid {
  border-color: #00ff00; }

/*defining custom fonts styles*/
@font-face {
  font-family: "Roboto-Light";
  src: url("./customFonts/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Bold";
  src: url("./customFonts/Roboto-Bold.ttf") format("truetype"); }

a, p, label, span, small, big {
  font-family: "Roboto-Light"; }

h1, h2, h3, h4, h5, h6, strong, b {
  font-family: "Roboto-Bold"; }

ul li {
  list-style: none; }

/*vertical spaces*/
.voffset-1 {
  margin-top: 2px; }

.voffset-2 {
  margin-top: 4px; }

.voffset-3 {
  margin-top: 6px; }

.voffset-4 {
  margin-top: 8px; }

.voffset-5 {
  margin-top: 10px; }

.voffset-6 {
  margin-top: 12px; }

.voffset-7 {
  margin-top: 14px; }

.voffset-8 {
  margin-top: 16px; }

.voffset-9 {
  margin-top: 18px; }

.voffset-10 {
  margin-top: 20px; }

/*
.voffset  { margin-top: 2px; }
.voffset-1 { margin-top: 5px; }
.voffset-2 { margin-top: 10px; }
.voffset-3 { margin-top: 15px; }
.voffset-4 { margin-top: 30px; }
.voffset-5 { margin-top: 40px; }
.voffset-6 { margin-top: 60px; }
.voffset-7 { margin-top: 80px; }
.voffset-8 { margin-top: 100px; }
.voffset-9{margin-top: 150px;}
.voffset-10 { margin-top: 250px; }

*/
.navbar-inverse {
  border: none !important;
  background-color: inherit !important; }

.navbar-collapse.in {
  overflow-y: inherit;
  padding-bottom: 15px; }

/* styles based on HTML tags */
body > .container {
  padding: 60px 15px 0; }

.container .text-muted {
  margin: 20px 0; }

header {
  height: 60px;
  background-color: #222; }

code {
  font-size: 80%; }

p, span, strong, label, ul li a {
  color: #222222 !important; }

a.link {
  color: #4545dd; }

a.link:hover {
  color: #08086d;
  text-decoration: none; }

.overlay_loading {
  position: fixed;
  z-index: 100000000000;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px; }

input[type='checkbox'], input[type='radio'] {
  cursor: pointer; }

small.requiredFld {
  color: #ff0000; }

.msg-error {
  color: #ff0000 !important; }

/****************sticky footer **************/
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5; }

footer {
  overflow: hidden;
  height: 50px;
  background-color: #000 !important; }

footer .row {
  padding: 10px; }

.footer_p {
  color: #f5f5f5 !important; }

.footer > .container {
  padding-right: 15px;
  padding-left: 15px; }

/********override BS rwd styles********/
@media (min-width: 320) and (max-width: 768px) {
  p.cstm-prod-desc {
    font-size: 14px;
    margin-top: 20px; }
  #myTab li a {
    font-size: 12px !important; }
  .selectCityGoBtn {
    margin-top: 50px; } }
