

a.arocity-logo{
    color: #46b8da !important;
    font-size:22px;
    text-shadow: 5px 4px 0px rgba(214, 255, 238, 0.47);
    letter-spacing:1px;
}
.text-uppercase{
    text-transform:uppercase;
}
.brand-filter-ul li a:hover{
    text-decoration:none;
}


.border{
    outline:1px solid #ff0000;
}

img.img-thumbnail{
    box-shadow: 8px 8px 5px #888888;
    margin-bottom:10px;
}
.myBody {
    background-image: url('images/bodyBgImage2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-color: #ffffff;
    background-repeat: repeat;
    overflow-x:hidden;

    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.transparent_background {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.8);
}
.main-container{
  margin-top: -50px;
  margin-bottom: 20px;
  padding: 10px;

  /*-webkit-box-shadow: 1px 9px 13px 9px rgba(34,34,34,1);
  -moz-box-shadow: 1px 9px 13px 9px rgba(34,34,34,1);
  box-shadow: 1px 9px 13px 9px rgba(34,34,34,1);*/
}

.cstm-cntr{
    margin-top:70px;
}







/********csutom styles*********/

.cstm-hr{
    margin-bottom:10px;
    margin-top:10px;
    border-top:2px solid #000;
}
.cstm-srch-row-item{
    margin-bottom:20px;
    padding:10px;
}
.cstm-prod-desc{
    font-size:18px;
}

ul#myTab
{
    margin: 0px;
    padding: 0px;
}
ul#myTab
{
    margin: 0px;
    padding: 0px;
}
ul#myTab li{

   list-style: none;
   display: inline;
}

ul#myTab li a
{
    display:inline-block;
    padding:10px;
    font-size:14px;
    text-transform:uppercase;
    font-weight:bold;
}

ul#myTab li.active a,ul#myTab li a:hover{

    text-decoration: none;
    border-radius:0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #000;
    background-color: transparent !important;
    padding-bottom:10px;


}
ul#myTab > .active > span{
	border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #000;
    margin-left: -50px;
}



tabs-prodinfo ul
{
    margin: 0px !important;
    padding: 0px !important;
}


tabs-prodinfo ul li a
{
    display:inline-block !important;
    font-size:14px !important;
    text-transform:uppercase !important;
    font-weight:bold !important;
}

tabs-prodinfo ul li.active a,tabs-prodinfo ul li a:hover{

    text-decoration: none !important;
    border-radius:0px !important;
    border-bottom-width: 4px !important;
    border-bottom-style: solid !important;
    border-bottom-color: #000 !important;
    background-color: transparent !important;
    padding-bottom:10px !important;


}
tabs-prodinfo ul > .active > span{
	border-left: 10px solid transparent !important;
    border-right: 10px solid transparent !important;
    border-bottom: 10px solid #000 !important;
    margin-left: -50px !important;
}

/***search menu items***/

ul.srch-menu-items li a{
    color:#333 !important;
    text-transform:uppercase;
}
ul.srch-menu-items li:hover a{
    background-color:#5bc0de;
    color:#fff !important;
    cursor:pointer;
}
span#SelectedPlace{
    color:#fff !important;
    text-transform:uppercase;
}
.cstm-alert-info{
    color: #f5f5f5 !important;
    background-color: #625B5B !important;
    border-color: #000 !important;
    text-transform:uppercase !important;
}
