
 @font-face {
    font-family: 'Roboto-Light';
    src: url('customFonts/Roboto-Light.ttf') format('truetype');
}
 @font-face {
    font-family: 'Roboto-Bold';
    src: url('customFonts/Roboto-Bold.ttf') format('truetype');
}

a,p,label,span.text-holder,small{
    font-family:Roboto-Light !important;
}
ul li {
    list-style:none;
}

h1,h2,h3,h4,h5,h6,strong {
    font-family: 'Roboto-Bold';
}
header{
    height:60px;
    background-color:#222;
}
.navbar-inverse{
    border:none !important;
    background-color:inherit !important;
}
a.arocity-logo{
    color: #46b8da !important;
    font-size:22px;
    font-family: 'Roboto-Bold' !important;
    text-shadow: 5px 4px 0px rgba(214, 255, 238, 0.47);
    letter-spacing:1px;
}
.text-uppercase{
    text-transform:uppercase;
}
.brand-filter-ul li a:hover{
    text-decoration:none;
}

.voffset  { margin-top: 2px; }
.voffset-1 { margin-top: 5px; }
.voffset-2 { margin-top: 10px; }
.voffset-3 { margin-top: 15px; }
.voffset-4 { margin-top: 30px; }
.voffset-5 { margin-top: 40px; }
.voffset-6 { margin-top: 60px; }
.voffset-7 { margin-top: 80px; }
.voffset-8 { margin-top: 100px; }
.voffset-9{margin-top: 150px;}
.voffset-10 { margin-top: 250px; }
.border{
    outline:1px solid #ff0000;
}
input[type='checkbox'],input[type='radio']{
    cursor:pointer;
}
img.img-thumbnail{
    box-shadow: 8px 8px 5px #888888;
    margin-bottom:10px;
}
.myBody {
    background-image: url('images/bodyBgImage2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-color: #ffffff;
    background-repeat: repeat;
    overflow-x:hidden;

    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.transparent_background {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.8);
}
.main-container{
  margin-top: -50px;
  margin-bottom: 20px;
  padding: 10px;

  /*-webkit-box-shadow: 1px 9px 13px 9px rgba(34,34,34,1);
  -moz-box-shadow: 1px 9px 13px 9px rgba(34,34,34,1);
  box-shadow: 1px 9px 13px 9px rgba(34,34,34,1);*/
}
.navbar-collapse.in {
    overflow-y: inherit;
    padding-bottom: 15px;
}
.cstm-cntr{
    margin-top:70px;
}

footer {
    overflow: hidden;
    height: 50px;
    background-color: #000 !Important;
}
footer .row{
    padding:10px;
}
.footer_p {
    color:#f5f5f5 !important;
}



p,span,strong,label,ul li a {
   color: #222222 !important;
}
a.link{
    color:#4545dd;
}
a.link:hover {
    color: #08086d;
    text-decoration:none;
}
 .overlay_loading{
    position: fixed;
    z-index: 100000000000;
    background-color: rgba(0,0,0,0.4);
    top:0px;
    bottom: 0px;
    right: 0px;
    left: 0px
}

/********csutom styles*********/

.cstm-hr{
    margin-bottom:10px;
    margin-top:10px;
    border-top:2px solid #000;
}
.cstm-srch-row-item{
    margin-bottom:20px;
    padding:10px;
}
.cstm-prod-desc{
    font-size:18px;
}

ul#myTab
{
    margin: 0px;
    padding: 0px;
}
ul#myTab
{
    margin: 0px;
    padding: 0px;
}
ul#myTab li{

   list-style: none;
   display: inline;
}

ul#myTab li a
{
    display:inline-block;
    padding:10px;
    font-size:14px;
    text-transform:uppercase;
    font-weight:bold;
}

ul#myTab li.active a,ul#myTab li a:hover{

    text-decoration: none;
    border-radius:0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #000;
    background-color: transparent !important;
    padding-bottom:10px;


}
ul#myTab > .active > span{
	border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #000;
    margin-left: -50px;
}



tabs-prodinfo ul
{
    margin: 0px !important;
    padding: 0px !important;
}


tabs-prodinfo ul li a
{
    display:inline-block !important;   
    font-size:14px !important;
    text-transform:uppercase !important;
    font-weight:bold !important;
}

tabs-prodinfo ul li.active a,tabs-prodinfo ul li a:hover{

    text-decoration: none !important;
    border-radius:0px !important;
    border-bottom-width: 4px !important;
    border-bottom-style: solid !important;
    border-bottom-color: #000 !important;
    background-color: transparent !important;
    padding-bottom:10px !important;


}
tabs-prodinfo ul > .active > span{
	border-left: 10px solid transparent !important;
    border-right: 10px solid transparent !important;
    border-bottom: 10px solid #000 !important;
    margin-left: -50px !important;
}

/***search menu items***/

ul.srch-menu-items li a{
    color:#333 !important;
    text-transform:uppercase;
}
ul.srch-menu-items li:hover a{
    background-color:#5bc0de;
    color:#fff !important;
    cursor:pointer;
}
span#SelectedPlace{
    color:#fff !important;
    text-transform:uppercase;
}
.cstm-alert-info{
    color: #f5f5f5 !important;
    background-color: #625B5B !important;
    border-color: #000 !important;
    text-transform:uppercase !important;
}
/****************sticky footer **************/
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}



/********RWD********/
@media (min-width:320) and (max-width:768px)
{
        p.cstm-prod-desc  {
            font-size:14px;
            margin-top:20px;
        }
        #myTab li a{
            font-size:12px !important;
        }
        .selectCityGoBtn{
            margin-top: 50px;
        }
}
@media (max-width:768px)
{

}
@media (max-width:992px)
{

}
/********RWD END********/
