<div ng-repeat="item in productDetails">
    <div class="">
        <div class="col-sm-10 col-md-10 col-lg-10">
            <p class="pull-left" style="font-size:16px">Detailed View <strong> {{item.desc}} </strong> in {{item.city}}</p>
        </div>       
    </div>
    <div class="col-xs-12">           
        <!--<div tabs-directive></div>-->        
        <tabs-prodinfo ></tabs-prodinfo>        
        <!--<div ng-include="'views/detailedProductInfo/tabs.html'"></div>-->
    </div>  
</div>
