    <div class="col-md-6 col-lg- col-md-offset-2">
          <form name="userCreateForm">
            <div class="form-group">
              <label for="exampleInputEmail1">First Name <small class="requiredFld">*</small></label>
              <input type="text" class="form-control" id="txtfName" placeholder="First Name" ng-model="user.fName" ng-required='true'>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Last Name <small class="requiredFld">*</small></label>
              <input type="text" class="form-control" id="txtlName" placeholder="Last Name" ng-model="user.lName" ng-required='true'>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address <small class="requiredFld">*</small></label>
              <input type="email" class="form-control" id="txtEmail" placeholder="Email" ng-model="user.email" ng-required='true'>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password <small class="requiredFld">*</small></label>
              <input type="password" class="form-control" id="txtPaswd" name='txtPaswd' placeholder="Password" ng-model="user.paswd" ng-required='true'>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Confirm-Password <small class="requiredFld">*</small></label>
              <input type="password" class="form-control" id="txtCnfPaswd" pw-check="txtPaswd" placeholder="Confirm Password" ng-model="user.cnfPaswd" ng-required='true'>
            </div>
            <div class="msg-block" ng-show="userCreateForm.$error">
              <span class="msg-error" ng-show="userCreateForm.user.cnfPaswd.$error.pwmatch">
                Passwords don't match.
              </span>
            </div>
            <a href="#/" class="btn btn-default btn-default">Cancel</a>
            <button type="submit" ng-click="createUser(user)" class="btn btn-default btn-info" disabled>Create User</button>
          </form>
    </div>
