<div class="col-md-8 col-lg-8 col-md-offset-2">
   <div class="col-md-12">
        <!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="/#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="/#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="/#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="slide-image img-responsive" src="../img/carousel-images/1.jpg">
                </div>
                <div class="item">
                  <img class="slide-image img-responsive" src="../img/carousel-images/2.jpg">
                </div>
                <div class="item">
                  <img class="slide-image img-responsive" src="../img/carousel-images/3.jpg">
                </div>
                <div class="item">
                  <img class="slide-image img-responsive" src="../img/carousel-images/4.jpg">
                </div>
            </div>
            <a class="left carousel-control" href="/#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="/#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>-->
        
  <div ng-controller="CarouselDemoCtrl">
  <div style="height: 305px">
    <carousel interval="myInterval" no-wrap="noWrapSlides">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
  </div>
  <!--<div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="noWrapSlides">
          Disable Slide Looping
        </label>
      </div>
    </div>
    <div class="col-md-6">
      Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
      <br />Enter a negative number or 0 to stop the interval.
    </div>
  </div>-->
</div>
    </div>
 </div> 
 
 
 

