 <tabset justified="true">
    
    <tab heading="Product Information">
      <div class="row" id="prod-info">         
          <div class="col-sm-8">
              <div class="form-group">
                  <strong>Brand Name :</strong>
                  <span class="text-holder">{{item.brandName}}</span>
              </div>
              <div class="form-group">
                  <strong>Product Name :</strong>
                  <span class="text-holder">{{item.prodName}}</span>
              </div>
              <div class="form-group">
                  <strong>Product Description:</strong>
                  <span class="text-holder">{{item.desc}} INR</span>
              </div>
              <div class="form-group">
                  <strong>Original Price :</strong>
                  <span class="text-holder">{{item.price}} INR</span>
              </div>
              <div class="form-group">
                  <strong>Our Offer Price :</strong>
                  <span class="text-holder">{{item.offerPrice}} INR</span>
              </div>
          </div>
          <div class="col-sm-4">
              <img src="img/products-images/tumbnailImg/iPhone6.png" height="100px" width="200px">
          </div>
        </div>
    </tab>
        
    <tab heading="Seller Information">
      <div class="row" id="retailer-info">         
          <div class="col-sm-8">
              <div class="form-group">
                  <strong>Seller Name :</strong>
                  <span class="text-holder">{{item.sellerName}}</span>
              </div>
              <div class="form-group">
                  <strong>Market Tag Line :</strong>
                  <span class="text-holder">{{item.info}}</span>
              </div>
              <div class="form-group">
                  <strong>Seller Located in :</strong>
                  <span class="text-holder">{{item.addr}}</span>
              </div>
              <div class="form-group">
                  <strong>Contact No :</strong>
                  <span class="text-holder">{{item.contactNo}}</span>
              </div>
              <div class="form-group">
                  <strong>Offer Type :</strong>
                  <span class="text-holder">{{item.type}}</span>
              </div>
              <div class="form-group">
                  <strong>Offer Description :</strong>
                  <span class="text-holder">{{item.offerDesc}}</span>
              </div>
              <div class="form-group">
                  <strong>City Name :</strong>
                  <span class="text-holder">{{item.city}}</span>
              </div>
          </div>
          <div class="col-sm-4">
              <img src="img/products-images/tumbnailImg/iPhone6.png" height="100px" width="200px">
          </div>
      </div>
    </tab>
    
    <tab heading="More Information">
      <div class="row" id="more-info">          
          <div class="col-sm-8">
              <p>More information yet to be come</p>
          </div>
          <div class="col-sm-4">
              <img src="img/products-images/tumbnailImg/iPhone6.png" height="100px" width="200px">
          </div>
      </div>
    </tab>
    
  </tabset>