<div class="col-sm-12">
    <h4>RETAILER</h4>
    <hr class="cstm-hr">
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">   
    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-3 voffset-4" ng-repeat="item in homeTiles">
        <div class="col-xs-2 col-sm-3 col-md-2 col-lg-2 ">
            <span class="glyphicon glyphicon-music"></span>
        </div>
        <div class="col-xs-10 col-sm-9 col-md-10 col-lg-10 ">
            <a class="home-page-brand-name"  href="#searchProd/PlaceName/ALL/srchItem/{{item.sellerName}}">{{item.sellerName}}</a>
        </div>               
    </div>     
</div>



